/* font-family: 'Roboto', sans-serif; */
body, html{
    height: 100%;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background-image: url(./images/bg-friends.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 25px;
    color: sienna;
}
p{
    text-align: justify;
    font-size: 20px;
    font-weight: 550;
}
section{
    display: block;
}
#main{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: rgb(211, 202, 81);
}
.head{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
.name-color{
    text-transform: uppercase;
    color:rgb(228, 241, 38);
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 80%;
}
.btn{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    border: none;
    border-radius: 10px;
    color: rgb(236, 222, 222);
    font-size: 17px;
    padding: 10px;
    display: inline-block;
    font-weight: 700;
}