/* font-family: 'Roboto', sans-serif; */
body, html{
    height: 100%;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background-image: url(./images/bg-friends.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
}
h1{
    font-size: 50px;
}
a{
    text-decoration: none;
    color: rgb(4, 47, 165);
    font-weight: 200;
}
h3{
    font-size: 25px;
    color: sienna;
}
p{
    text-align: justify;
    font-size: 20px;
    font-weight: 550;
}
section{
    display: block;
}
#main{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: rgb(211, 202, 81);
}
.head{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
.name-color{
    text-transform: uppercase;
    color:rgb(228, 241, 38);
}
.flexible-container{
    display: flex;
    margin-bottom: 80px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 80%;
}
.btn{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    border: none;
    border-radius: 10px;
    color: rgb(236, 222, 222);
    font-size: 17px;
    padding: 10px;
    display: inline-block;
    font-weight: 700;
}
.submit{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    border: none;
    border-radius: 10px;
    color: rgb(236, 222, 222);
    font-size: 12px;
    padding: 5px;
    display: inline-block;
    font-weight: 600;
}
footer{
    text-align: center;
    font-weight: 200;
    font-size: 15px;
    color: rgba(11, 15, 15, 0.877);
}
.footer1{
    font-size: 15px;
    color: rgb(56, 50, 50);
    font-weight: 200;
}
#line{
    margin-left:15px;
}
/* .charecters{
    display: flex;
    border-left: 1px solid;
    margin-bottom: 70px;
} */
.boys{
display: flex;
flex-direction: row;
margin-bottom: 35px;
}
.girls{
display: flex;
flex-direction: row;
margin-bottom: 150px;
}
.container{
box-sizing: border-box;
display: flex;
margin-bottom: 50px;
}
.char-fren{
width:20% ;
border-radius: 10px ;
box-shadow:10px 10px 30px grey ;
margin-left:4% ;
margin-right:4% ;
padding: 5px 30px;
background-color: rgb(250, 250, 250);
text-align: left;
}
#ross{
    border-left: 7px solid;
    border-image: linear-gradient(red,tomato) 30;
}
#mon{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan) 30;
}
#chand{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(88, 72, 104), rgb(199, 9, 88)) 30;
}
#rach{
    border-left: 7px solid;
    border-image: linear-gradient(rgba(66, 66, 207, 0.219), rgb(11, 13, 107)) 30;
}
#phoebe{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(22, 22, 243), rgb(13, 139, 139)) 30;
}
#joey{
    border-left: 7px solid;
    border-image: linear-gradient(orange, rgb(247, 9, 9)) 30;
}